# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science Tools
- List of examples of of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Pyhon
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Hadoop|
|Spark|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
## This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [16]:
## This will convert 200 minutes to hours by diving by 60

round(200/60, 2)

3.33

## Author
Micha≈Ç